<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{% block title %}Ansible Collections | MRMCD2024{% endblock %}</title>
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="L3D & Loppermann" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="css/impress-demo.css" rel="stylesheet" />
    <link href="css/impress-common.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
</head>
<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress"
    data-transition-duration="1000"
    data-width="1920"
    data-height="1080"
    data-max-scale="3"
    data-min-scale="0"
    data-perspective="1000"
    data-autoplay="300">

{% block body %}{% endblock %}

</div>

<div id="impress-toolbar"></div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate. <br/>
       Press 'P' to launch speaker console.</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
}
</script>

<script src="js/impress.js"></script>
<script>impress().init();</script>


</body>
</html>
